body {
  margin: 0;
  padding: 0;
}
.herbaty{
  position: absolute;
  display: block;
  visibility: hidden;
  left: 100%;
  bottom: 0;
  width: 100%;
  background-color: #a1ac4d;
  transition: visibility 1s ease-out ;

}
.herbatybtn:hover .herbaty{
  display: block;
  visibility: visible;
}
body, html{
  height:100%;
}
header {
  text-align: center;
  border-right: 1px solid black;
  z-index: 2;
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  height: 100%;
  width: 25%;
  background: #6E7346;
}
section{
  overflow: hidden;
  margin-left: 25%;
  width: 75%;
}
.zielona{
  width: 75%;
  background: #C8CF82;
  height: 110%;
  
}
 p{
  text-align: center;
  color: #F6F7EB;
  font-size: 90px;
  text-transform: uppercase;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
nav {
  text-align: center;
  top: 250px;
  width: 25%;
  position: fixed;
  z-index: 3;
}
nav a{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  color:#F6F7EB ;
  font-size: 25px;
  padding: 30px 16%;
  

}
nav ul{
  margin: 0;
}
li:hover{
  background: #606441;
 
  cursor: pointer;
}
nav li{
  width: 95%;
  margin-left: -15px;
  border-bottom: 1px solid #F6F7EB;
  padding: 35px 0px;
  list-style-type: none;
}
.start{
  z-index: 1;
  position: absolute;
  top: 0;
  width: 75%;
  height: 100%;
  background-color: #F6F7EB;
}
.czarna{
  width: 75%;
  height: 110%;
  background-color: #00120B;
}
.biala{
  width: 75%;
  height: 120%;
  background-color: #F6F7EB;
}
.zolta{
  width: 75%;
  height: 120%;
  background-color: #eec973;
}
header input {
  display: none;
}
.menu_r {
  float: right;
  width: 100px;
  height: 20px;
  
}
.menu_r label {
  margin: 40px;
  display: block;
  cursor: pointer;
  border-radius: 6px;
  width: 53px;
  height: 6px;
  background: #f6f7eb;
}
.menu_r label::before{
    content: "";
    position: absolute;
    display: block;
    border-radius: 6px;
    width: 53px;
    height: 6px;
    background: #f6f7eb;
    margin-top: -10px;
}

.menu_r label::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 6px;
  width: 53px;
  height: 6px;
  background: #f6f7eb;
  margin-top: 10px;
}

