body {
  margin: 0;
   font-family: 'Roboto', sans-serif;
  padding: 0;
}
.herbaty {
  /* visibility: hidden; */
  position: absolute;
  left: 0;
  bottom: -100;
  display: none;
  color: white;
  margin: 0;
  padding: 0;
  height: 150px;
  width: 100%;
  background-color: rgb(53, 28, 28);

  /* transition: visibility 1s ease-out ; */
}
.her1{
  grid-column-start: 2;
  
}
.her4{
  
  grid-column-start: 3;

}
.her2{
  grid-column: 3/5;
}
.her3{
  margin-left: -42px;
  grid-column-start: 4;
  grid-row-start: 2;
}
.her5{
  margin-left: -42px;
  margin-top: 140px;
  grid-column-start: 4;
  grid-row-start: 2;
}

.galeria{
  display: grid;
  grid-template: repeat(3,270px)/repeat(6,1fr);
}
.start span {
  font-family: "Redressed", cursive;
  z-index: 5;
  position: absolute;
  margin: 350px 30%;
  color: #f6f7eb;
  font-size: 40px;
  text-align: center;
}
.start img {
  z-index: 0;
  top: 0;
  width: 100%;
  position: absolute;
}
.herbatybtn:hover .herbaty {
  display: block;
  visibility: visible;
}

body,
html {
  height: 100%;
}

header {
  box-shadow: 8px 8px 24px 0px #252521;
  text-align: center;
  z-index: 2;
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  height: 100%;
  width: 20%;
  background: #393b26;
}
section {
  overflow: hidden;
  margin-left: 20%;
  width: 80%;
}
.zielona {
  background: #c8cf82;
  height: 110%;
}
p {
  text-align: center;
  color: #f6f7eb;
  font-size: 90px;
  text-transform: uppercase;
}
nav {
  text-align: center;
  top: 330px;
  width: 20%;
  position: fixed;
  z-index: 3;
}
nav a {
  font-size: 30px;
  color: #f6f7eb;
  text-decoration: none;
  color: #f6f7eb;

  padding: 30px 16%;
}
nav ul {
  margin: 0;
}
li:hover {
  background: #606441;

  cursor: pointer;
}
nav li {
  width: 95%;
  margin-left: -15px;
  border-bottom: 1px solid #f6f7eb;
  padding: 35px 0px;
  margin-bottom:20px;
  list-style-type: none;
}
.start {
  z-index: 1;
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #f6f7eb;
}
.czarna {
  height: 110%;
  background-color: #00120b;
}
.biala {
  
  height: 120%;
  background-color: #f6f7eb;
}
.biala p{
  color: #00120b;
}
.zolta {
  height: 120%;
  background-color: #eec973;
}
.oferta {
  height: 120%;
 
  background-color: #F6F7EB;
}
.oferta p{
  color: #00120b;
}
.formularz {
  height: 120%;
  background-color: #C8CF82;
  display: grid;
  grid-template: 200px repeat(15,60px)/repeat(5,1fr);
}
.formularz p{
  grid-column: 3/4;
  grid-row: 2/4;
}
.formularz img{
  width: 100%;
  grid-row: 1/3;
  grid-column:1/7;
}
#im{
  grid-row: 8/9;
  grid-column-start: 2;
}
label[for=im]{
  grid-column-start: 2;
  grid-row-start: 7;
}
label[for=na]{
  grid-column-start: 2;
  grid-row-start: 9;
}
#na{
  grid-row: 10/11;
  grid-column-start: 2;
}
label[for=email]{
  grid-column-start: 2;
  grid-row-start: 11;
}
#email{
  grid-row: 12/13;
  grid-column-start: 2;
}
.formularz input{
  width: 309px;
  height: 38px;
  border-radius: 10px;
  border: 0;
}
#wia{
  grid-column: 4/5;
  grid-row: 8/13;
  border: 0;
  border-radius: 10px;
}
.inp{
  background-color: #3f3c3c;
  color: whitesmoke;
  width: 500px;
  font-size: larger;
  grid-column: 2/5;
  grid-row-start: 15;
}
.inp:hover{
  background-color: #5c5858;
  cursor: pointer;
}
label[for=wia]{
  grid-column-start: 4;
  grid-row-start: 7;
}
header input {
  display: none;
}
.menu_r {
  display: none;
  position: absolute;
  right: 10px;
  top: -5px;
  width: 100px;
  height: 20px;
}
.menu_r .navicon {
  margin: 40px;
  display: block;
  cursor: pointer;
  border-radius: 6px;
  width: 53px;
  height: 6px;
  background: #f6f7eb;
}
.menu_r .navicon::before {
  content: "";
  position: absolute;
  display: block;
  border-radius: 6px;
  width: 53px;
  height: 6px;
  background: #f6f7eb;
  margin-top: -10px;
  transition: transform 0.2s;
}

header .menu-btn:checked ~.menu-icon .navicon{
  background-color: transparent;
}
header .menu-btn:checked ~.menu-icon .navicon::before{
  transform: rotate(45deg) translate(13px);
  right: 20px;
}

header .menu-btn:checked ~.menu-icon .navicon::after{
  transform: rotate(-45deg) translate(15px);
  right: 20px;
}  
.menu_r .navicon::after {
  content: "";
  transition: transform 0.2s;
  display: block;
  position: absolute;
  border-radius: 6px;
  width: 53px;
  height: 6px;
  background: #f6f7eb;
  margin-top: 10px;
}
footer {
  height: 200px;
  background-color: #000000;
  display: grid;
  grid-template: 70px repeat(2,65px)/repeat(5,1fr);
}
footer span{
  color: white;

}
.strzalki:hover{
cursor: pointer;
}
.wf{
  width: 100%;
}
.ofer{
  border: 1px solid black;
  border-radius: 10px;
  width:215px;
  height: 301px;
}
.rof{
  display: flex;
  justify-content: space-around;
}
.title{
  font-size: 20px;
}
.oferta span{
  padding: 10px;
  display: inline-block;
}
.tyt{
  font-size: 35px;
  grid-column-start: 3;
  grid-row-start: 2;
}
#em{
  margin-top: 20px;
  grid-column: 5;
  grid-row-start: 1;
}
#tel{
  grid-column-start: 5;
  grid-row-start: 3;
}
.tel{
  display: none;
}
.komp{
  display: block;
}
@media screen and (max-width:1171px ) {
  header{
    width: 100%;
    height: 100px;
  }
  .start span{
    left: 0;
    right: 0;
    position: absolute;
    margin: 450px auto;
  }
  header img{
    display: none;
  }
  section{
    width: 100%;
    margin: 0;
  }
  nav li{
    margin: 5px;
    border: 0;
    width: 200px;
    display: inline-block;
  }
  nav{
    top:0;
    width: 100%;
    height: 100px;
  }
}
@media screen and (max-width:909px ){
  header{
    height: 140px;
  }
  nav{
    display: none;
  }
  header img{
    content:url("../img/logotel.png");
    display: block;
    margin: 0 auto;
  }
  .menu_r {
    display: block;
  }
  .menu_r span{
    display: block;
  }
  .menu-btn:checked .back .back nav{
    display: block;
  }
  .tel{
    margin-top: 40px;
    display: block;
  }
  .komp{
    display: none;
  }
}
